{% extends 'base.html.twig' %}

{% block title %}Liste des médicaments{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module">
        import '{{ asset('medecine/filter.js') }}';
    </script>
{% endblock %}

{% block body %}
<div class="main-medecine">
    <form>
        <label class="search-label">
            <span class="material-symbols-outlined">search</span>
            <input class="league-spartan-regular" id="input-search" type="text" placeholder="Nom d'un médicament..." value="{{ search }}">
        </label>
        <input class="league-spartan-regular" type="submit" id="submit-search" value="Rechercher">
        <select class="league-spartan-regular" id="filter-category">
            <option class="league-spartan-regular" value="0" selected>Catégorie</option>
            {% for ctg in categories %}
                <option class="league-spartan-regular" value="{{ ctg.id }}">{{ ctg.name }}</option>
            {% endfor %}
        </select>
        <select class="league-spartan-regular" id="filter-order">
            <option value=''>Trier par</option>
            <option value='{"column": "priceUnit", "order": "ASC"}'>Prix (croissant)</option>
            <option value='{"column": "priceUnit", "order": "DESC"}'>Prix (décroissant)</option>
            <option value='{"column": "name", "order": "ASC"}'>Alphabétique (croissant)</option>
            <option value='{"column": "name", "order": "DESC"}'>Alphabétique (décroissant)</option>
        </select>
        <label class="league-spartan-medium filter-oot-label">
            <input type="checkbox" id="filter-out-of-stock">
            Masquer les produits hors-stock
        </label>
    </form>
    {{ include('medicine/_medicines.html.twig') }}
</div>
{% endblock %}
