{% extends 'base.html.twig' %}

{% block title %}Liste des médicaments{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module">
        import '{{ asset('medecine/filter.js') }}';
    </script>
{% endblock %}

{% block body %}
    <form>
        <input id="input-search" type="text" placeholder="Nom d'un médicament..." value="{{ search }}">
        <input type="submit" id="submit-search" value="Rechercher">
        <select id="filter-category">
            <option value="0" selected>Catégorie</option>
            {% for ctg in categories %}
                <option value="">{{ ctg.name }}</option>
            {% endfor %}
        </select>
        <select id="filter-order">
            <option value="0">Trier par</option>
        </select>
        <label>
            <input type="checkbox" id="filter-out-of-stock">
            Masquer les produits hors-stock
        </label>
    </form>

    <div id="medicines-container">
        {{ include('medicine/_medicines.html.twig') }}
    </div>

{% endblock %}
