{% extends 'base.html.twig' %}

{% block title %}
    Médicament - {{ medicine.name }}
{% endblock %}

{% block body %}
    <div class="main-medicine-show">
        <div class="medicine-float-container" style="display: none">
            <div class="medicine-float">
                <button>
                    <span class="material-symbols-outlined">close</span>
                </button>
                <p class="league-spartan-light medicine-float-item-name"></p>
                <div class="medicine-float-item">
                    <div class="medicine-float-item-info">
                        <p class="league-spartan-semibold medicine-float-item-price"></p>
                        <p class="league-spartan-semibold medicine-float-item-stock"></p>
                    </div>
                    <img src="" alt="" class="medicine-float-item-image">
                </div>
                <div class="medicine-float-adress">
                    <span class="material-symbols-outlined">location_on</span>
                    {% if user.adresse|length == 0 %}
                        <p class="medicine-float-adress-location league-spartan-regular">Aucune adresse enregistrée</p>
                    {% else %}
                        <p class="medicine-float-adress-location league-spartan-regular">
                            Livraison à
                            {{ (user.adresse|first).adresse }}
                            {{ (user.adresse|first).zipcode }}
                            {{ (user.adresse|first).city }}
                        </p>
                    {% endif %}
                </div>
                <div class="medicine-form-cart">
                    {{ form_start(formQuantity) }}
                    {{ form_row(formQuantity.id) }}
                    {{ form_row(formQuantity.quantity, {attr: {max: 1, class: 'poppins-light'}}) }}
                    {{ form_row(formQuantity.cart, {attr: {class: 'league-spartan-regular'}}) }}
                    {{ form_row(formQuantity.buy, {attr: {class: 'league-spartan-regular'}}) }}
                    {{ form_end(formQuantity) }}
                </div>
            </div>
        </div>
        <div class="medicine-show-left">
            <h3 class="league-spartan-semibold">{{ medicine.name }}</h3>
            {% if medicine.category is not empty %}
                <p class="league-spartan-regular" style="background-color: #{{ medicine.category.color }}">
                    {{ medicine.category.name }}
                </p>
            {% else %}
                <p class="league-spartan-regular no-category">Aucune catégorie</p>
            {% endif %}
            <div class="medicine-show-description">
                <div class="trapeze"></div>
                <div class="trapeze-reverse"></div>
                <p class="lexend-semibold">Indications concernant le produit</p>
                <p class="league-spartan-regular">{{ medicine.description }}</p>
            </div>
        </div>
        <div class="medicine-show-right">
            {% if medicine.imageFileName %}
                <img src="{{ medicine.imageFileName }}" alt="{{ medicine.name }}">
            {% else %}
                <img src="{{ asset('images/placeholder.png') }}" alt="{{ medicine.name }}">
            {% endif %}
            <div class="medicine-show-information">
                <div class="trapeze" style="width: 200px"></div>
                <div class="trapeze-reverse" style="width: 200px"></div>
                <p class="lexend-semibold">Autres informations</p>
                <p class="league-spartan-regular">Quantité : {{ medicine.quantity }}</p>
                <p class="league-spartan-regular">Dosage : {{ medicine.dosage }}</p>
                <p class="league-spartan-regular">{{ medicine.priceUnit|number_format(2, ',', ' ') }}€/unité</p>
            </div>
            <div class="medicine-show-payment">
                {% if stock != 0 %}
                    <button class="medicine-add"
                            data-id="{{ medicine.id }}"
                            data-stock="{{ stock }}"
                            data-name="{{ medicine.name }}"
                            data-price="{{ medicine.priceUnit }}"
                            {% if medicine.imageFileName %}
                            data-image="{{ medicine.imageFileName }}"
                            {% else %}
                            data-image="{{ asset('images/placeholder.png') }}"
                            {% endif %}>
                        <span class="material-symbols-outlined">add_shopping_cart</span>
                        {{ medicine.priceUnit }} €
                    </button>
                {% else %}
                    <button class="medicine-add" style="background-color: grey" disabled>
                        <span class="material-symbols-outlined">add_shopping_cart</span>
                        {{ medicine.priceUnit }} €
                    </button>
                {% endif %}

                {% if stock == 0 %}
                    <p class="medicine-show-quantity league-spartan-regular">Plus de stock !</p>
                {% elseif stock == 1 %}
                    <p class="medicine-show-quantity league-spartan-regular" style="color: red">1 restant !</p>
                {% elseif stock < 25 %}
                    <p class="medicine-show-quantity league-spartan-regular" style="color: red">{{ stock }} restants !</p>
                {% elseif stock < 100 %}
                    <p class="medicine-show-quantity league-spartan-regular">{{ stock }} restants !</p>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{{ asset('js/purchaseQuantity.js') }}"></script>
{% endblock %}
