{% extends 'base.html.twig' %}

{% block title %}
    Médicament - {{ medicine.name }}
{% endblock %}

{% block body %}
    <div class="main-medicine-show">
        <div class="medicine-show-left">
            <h3 class="league-spartan-semibold">{{ medicine.name }}</h3>
            {% if medicine.category is not empty %}
                <p class="league-spartan-regular">{{ medicine.category.name }}</p>
            {% else %}
                <p class="league-spartan-regular no-category">Aucune catégorie</p>
            {% endif %}
            <div class="medicine-show-description">
                <div class="trapeze"></div>
                <div class="trapeze-reverse"></div>
                <p class="lexend-semibold">Indications concernant le produit</p>
                <p class="league-spartan-regular">{{ medicine.description }}</p>
            </div>
        </div>
        <div class="medicine-show-right">
            {% if medicine.imageFileName %}
                <img src="{{ medicine.imageFileName }}" alt="{{ medicine.name }}">
            {% else %}
                <img src="{{ asset('images/placeholder.png') }}" alt="{{ medicine.name }}">
            {% endif %}
            <div class="medicine-show-information">
                <div class="trapeze" style="width: 200px"></div>
                <div class="trapeze-reverse" style="width: 200px"></div>
                <p class="lexend-semibold">Autres informations</p>
                <p class="league-spartan-regular">{{ medicine.quantity }} {{ medicine.type }}s</p>
                <p class="league-spartan-regular">Par voie VOIE</p>
                <p class="league-spartan-regular">Dosage : {{ medicine.dosage }}</p>
                <p class="league-spartan-regular">{{ medicine.priceUnit|number_format(2, ',', ' ') }}€/unité</p>
                <p class="league-spartan-regular">Date</p>
            </div>
            <div class="medicine-show-payment">
                {% if stock != 0 %}
                    <button class="medicine-show-add" onclick="window.location.href='#'">
                        <span class="material-symbols-outlined">add_shopping_cart</span>
                        {{ medicine.priceUnit }} €
                    </button>
                {% else %}
                    <button class="medicine-show-add" onclick="window.location.href='#'" disabled>
                        <span class="material-symbols-outlined">add_shopping_cart</span>
                        {{ medicine.priceUnit }} €
                    </button>
                {% endif %}

                {% if stock == 0 %}
                    <p class="medicine-show-quantity league-spartan-regular">Plus de stock</p>
                {% elseif stock == 1 %}
                    <p class="medicine-show-quantity league-spartan-regular" style="color: red">1 restant</p>
                {% elseif stock < 25 %}
                    <p class="medicine-show-quantity league-spartan-regular" style="color: red">{{ stock }} restants</p>
                {% elseif stock < 100 %}
                    <p class="medicine-show-quantity league-spartan-regular">{{ stock }} restants</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
