{% extends 'base.html.twig' %}

{% block title %}Gestion adresses{% endblock %}

{% block body %}
<div class="main-cart">
        <div class="user-adresses">
            <h3 class="lexend-medium">Adresses enregistrées</h3>
        <a href="{{ path('app_adresse_create') }}" class="btn btn-primary">Ajouter une adresse</a>
        {% for adresse in user.adresse %}
            <div class="adresse-item">
                <p>{{ adresse.adresse }}</p>
                <p>{{ adresse.zipcode }}</p>
                <p>{{ adresse.city }}</p>
                <a href="{{ path('app_adresse_delete', {id: adresse.id}) }}" class="btn btn-danger">Supprimer</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
