{% extends 'base.html.twig' %}

{% block title %}
    Passer commande
{% endblock %}

{% block body %}
    <div class="main-new-order">
        {% if tour != 0 %}
        <div class="new-order-form" hidden>
        {% else %}
        <div class="new-order-form">
        {% endif %}
            <h3 class="league-spartan-medium">1. Adresse de livraison</h3>
            <form action="{{ path('app_order_new') }}" method="post">
                {% if adresses %}
                    <p class="league-spartan-regular">Adresses existantes</p>
                    <div class="new-order-adresses">
                        {% for adresse in adresses %}
                            <div class="new-order-adress">
                                <label>
                                    <input type="radio" name="adresse" value="{{ adresse.id }}"/>
                                </label>
                                <div class="new-order-adress-container">
                                    {% if adresse.firstname and adresse.lastname %}
                                    <p class="league-spartan-semibold">{{ adresse.firstname }} {{ adresse.lastname }}</p>
                                    {% else %}
                                        <p class="league-spartan-semibold">{{ user.firstname }} {{ user.lastname }}</p>
                                    {% endif %}
                                    <p class="league-spartan-regular">{{ adresse.adresse }}, {{ adresse.zipcode }}, {{ adresse.city }}</p>
                                    {% if adresse.tel %}
                                        <p class="league-spartan-regular">{{ adresse.tel }}</p>
                                    {% else %}
                                        <p class="league-spartan-regular">{{ user.tel }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% for item in itemInfo %}
                    <input type="hidden" name="{{ item['id'] }}" value="{{ item['data'] }}"/>
                {% endfor %}
                <input type="hidden" name="tour" value="{{ tour }}"/>
                <button disabled type="submit" class="lexend-semibold">Suivant</button>
            </form>
            <div class="new-order-new-adress">
                <p class="league-spartan-regular">Nouvelle adresse de livraison</p>
                <div class="new-order-new-adress-form">
                    <label>
                        <input type="radio" name="adresse" value="new-adress"/>
                    </label>
                    {{ form_start(formAdress, {attr : {action : path('app_order_new'), name: 'new-adress'}}) }}
                    <div class="new-order-new-adress-form-identity">
                        <p class="league-spartan-medium">Identitée</p>
                        <div class="new-order-new-adress-form-identity-container">
                            {{ form_row(formAdress.firstname, {attr: {class: 'form-control inter-regular', placeholder: 'Prénom', disabled: true}, label: false}) }}
                            {{ form_row(formAdress.lastname, {attr: {class: 'form-control inter-regular', placeholder: 'Nom de famille', disabled: true}, label: false}) }}
                        </div>
                    </div>
                    <div class="new-order-new-adress-form-adress">
                        <p class="league-spartan-medium">Adresse</p>
                        <div class="new-order-new-adress-form-adress-container">
                            {{ form_row(formAdress.adresse, {attr: {class: 'form-control inter-regular', placeholder: '26 Avenue du Général de Gascogne', disabled: true}, label: false}) }}
                            {{ form_row(formAdress.zipcode, {attr: {class: 'form-control inter-regular', placeholder: 'Code Postal', disabled: true}, label: false}) }}
                            {{ form_row(formAdress.city, {attr: {class: 'form-control inter-regular', placeholder: 'Ville', disabled: true}, label: false}) }}
                        </div>
                    </div>
                    <div class="new-order-new-adress-form-phone">
                        <p class="league-spartan-medium">Téléphone</p>
                        <div class="new-order-new-adress-form-phone-container">
                            {{ form_row(formAdress.tel, {attr: {class: 'form-control inter-regular', placeholder: 'N°de Téléphone', disabled: true}, label: false}) }}
                        </div>
                    </div>
                    {% for item in itemInfo %}
                        <input type="hidden" name="{{ item['id'] }}" value="{{ item['data'] }}"/>
                    {% endfor %}
                    <input type="hidden" name="tour" value="{{ tour }}"/>
                    <button disabled type="submit" style="display: none" class="lexend-semibold">Suivant</button>
                    {{ form_end(formAdress) }}
                </div>
            </div>
            <div class="nb-pages">
                {% for i in 0..2 %}
                    <div class="nb-pages-rectangles"></div>
                {% endfor %}
            </div>
        </div>
        {% if tour == 1 %}
        <div class="new-order-payment">
        {% else %}
        <div class="new-order-payment" hidden>
        {% endif %}
            <h3 class="league-spartan-medium">2. Mode de paiement</h3>
            <button class="lexend-semibold">Suivant</button>
            <div class="nb-pages">
                {% for i in 0..2 %}
                    <div class="nb-pages-rectangles"></div>
                {% endfor %}
            </div>
        </div>
        {% if tour == 1 %}
        <div class="new-order-recap">
        {% else %}
        <div class="new-order-recap" hidden>
        {% endif %}
            {% if order %}
            <h3>3. Récapitulatif de la commande</h3>
            <p class="league-spartan-medium new-order-recap-livraison">Livraison prévue pour le DATE</p>
            <div class="new-order-recap-container">
                <h4 class="league-spartan-medium">Articles</h4>
                <div class="order-item-medecines">
                    {% for item in itemData %}
                        <ul class="order-item-medecine">
                            <li>{{ item.quantity }}x {{ item.name }}</li>
                        </ul>
                    {% endfor %}
                </div>
                <h4 class="league-spartan-medium">Paiement via MOYEN_DE_PAIEMENT</h4>
                <div class="order-item-payment">
                    <div class="order-item-payment-article">
                        <p class="league-spartan-regular">Articles :</p>
                        <p class="league-spartan-regular">{{ order.totalAmount }}€</p>
                    </div>
                    <div class="order-item-payment-livraison">
                        <p class="league-spartan-regular">Livraison :</p>
                        <p class="league-spartan-regular">PRIX_LIVRAISON</p>
                    </div>
                    <div class="order-item-payment-total">
                        <p class="league-spartan-regular">Total :</p>
                        <p class="league-spartan-semibold">{{ order.totalAmount }}€</p>
                    </div>
                </div>
                <h4 class="league-spartan-medium">Adresse de livraison</h4>
                <div class="order-item-adress">
                    <p class="league-spartan-semibold">{{ user.firstname }} {{ user.lastname }}</p>
                    <p class="league-spartan-regular">{{ order.deliveryAdresse.adresse }} {{ order.deliveryAdresse.zipcode }} {{ order.deliveryAdresse.city }}</p>
                    <p class="league-spartan-regular">{{ user.tel }}</p>
                </div>
            </div>
            <form action="{{ path('app_order_new') }}" method="post">
                {% for item in itemInfo %}
                    <input type="hidden" name="{{ item['id'] }}" value="{{ item['data'] }}"/>
                {% endfor %}
                <input type="hidden" name="tour" value="{{ tour }}"/>
                <input type="hidden" name="adresse" value="{{ order.deliveryAdresse.id }}"/>
                <button class="lexend-semibold" type="submit">Suivant</button>
            </form>
            <div class="nb-pages">
                {% for i in 0..2 %}
                    <div class="nb-pages-rectangles"></div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% if tour == 3 %}
        <div class="new-order-thanks">
        {% else %}
        <div class="new-order-thanks" hidden>
        {% endif %}
            <p class="league-spartan-semibold">Merci beaucoup pour votre achat !</p>
            <div class="new-order-thanks-container">
                <p class="league-spartan-regular">Vous pouvez acceder à votre commande :</p>
                {% if order and order.id %}
                <a class="league-spartan-regular" href="{{ path('app_order_show', {id : order.id}) }}">Ici</a>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{{ asset('js/orderFormChecked.js') }}"></script>
    <script src="{{ asset('js/changePage.js') }}"></script>
{% endblock %}