{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
    <div class="main-user">
        <h1>Mon Compte</h1>
        <div class="information">
            <h2>Informations</h2>
            <p>{{ user.lastname }} {{ user.firstname }}</p>
            <p>Email : {{ user.email }}</p>
            <p>Téléphone : {{ user.tel }}</p>
            <p>N°RRPS : {{ user.RRPS }}</p>
        </div>
        <div class="adresses-container">
            <h2>Adresse(s)</h2>
            {% for adresse in user.adresse %}
                <div class="adresse-item">
                    <p>{{ adresse.adresse }}</p>
                    <p>{{ adresse.zipcode }}</p>
                    <p>{{ adresse.city }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="active-orders-container">
            <h2>Commandes en cours</h2>
            {{ include('order/_orders.html.twig') }}
        </div>
        <div class="security">
            <button class="btn-change-password" onclick="window.location.href='{{ path('app_user_change_password') }}'">Changer le mot de passe</button>
            <button class="btn-logout" onclick="window.location.href='{{ path('app_logout') }}'">Déconnexion</button>
        </div>
    </div>

{% endblock %}
