{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
    <div class="main">
        <h1>Mon Compte</h1>
        <div class="information">
            <p>{{ user.lastname }} {{ user.firstname }}</p>
            <p>Téléphone : { user.tel }</p>
            <p>Email : {{ user.email }}</p>
        </div>
        <div class="security">
            <button class="btn-change-password" onclick="window.location.href='{{ path('app_user_change_password') }}'">Changer le mot de passe</button>
            <button class="btn-logout" onclick="window.location.href='{{ path('app_logout') }}'">Déconnexion</button>
        </div>
    </div>
{% endblock %}
